<h1>Hello!</h1>

<p>My name is Martin. I am 76 years old, and I live in a treehut in the forest.</p>

{{#if hobbiesArray}}
    <p> I love to {{hobby}} on the weekend.</p>

    <ul>
        {{#each hobbiesArray}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
{{else}}
    <p>I have no hobbies :(</p>
{{/if}}

